//Variables

$font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$aling:"center";
$color1:"rgb(255, 255, 234)";
$color2:"rgb(255, 255, 183)";
$color3:"rgba(255, 140, 0, 0.612)";
$color4:"rgb(218, 208, 174)";
$ancho:12px;
@media screen and (max-width: 800px){
    body{
        background-color:red ;
    }
}
